body {
    font-family: "Montserrat", sans-serif;
}
.product-info-row {
    display: flex;
    padding-top: 30px;
    margin-bottom: 30px;
}
.product-left {
    margin-right: 100px;
}
.vendor {
    margin-bottom: 20px;
}
.title-product {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}
.product__current-price {
    font-size: 25px;
    margin-bottom: 30px;
}
.title-desc {
    font-size: 25px;
    font-weight: 600;
}
.row-image {
    max-width: 300px;
}

.desc{
    max-width: 100%;
    height: 50px;
    margin-bottom: 100px;
}
.button {
    background-color: #212121;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 28px;
  }
  .button:hover {
    opacity: 0.6;
    transition: all 0.2s ease-in;
  }